.side-nav {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px #26243f;
    background: #151423;
    box-shadow: 6px 6px 12px #121120;
    box-shadow: inset 0px 0px 3px #202124;
    box-shadow: -5px -5px 12px #232239;
    border-radius: 0 22px 0 0;
    // position: fixed;

    .side-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        // height: 100%;
        

        li {
            position: relative;
            text-align: center;
            display: inline;
            padding: 5px 0;

            a {
                text-decoration: none;
                border: none;

                .side-link-container {
                    width: 100%;
                    padding: 10px 0;
                    position: relative;
                }

                &:hover {
                    .side-link-container {
                        &:hover {
                            &::before {
                                content: "";
                                position: absolute;
                                background: linear-gradient(28deg, #1A91FA, #006BF2);
                                width: 3px;
                                left: 0;
                                top: 0;
                                height: 100%;
                                border-radius: 5px;
                
                            }
                        }
                    }
                    
                }

            }

            &:last-child {
                // margin-top: 130px;
                margin-top: auto;
            }

        }
    }
}